@use "variables" as *;
main.dashboard-area {
  .dashboard-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4.0625rem minmax(12.5rem, 0.5fr) 1fr;
    gap: 1.25rem;

    .__top-2 {
      .insurancce-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    .left-bottom {
      grid-column: 1 / span 2;
      grid-row: 3;
    }
    .right-full {
      grid-column: 3 / -1;
      grid-row: 2 / -1;
      .card-scaf{
        background-image: url('../assets/globe-img.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right -50%;
      }
    }
  }
}
